### Abhishek Kumar <br>
### Secondary Dataset

In [1]:
import sklearn
from sklearn.metrics import cohen_kappa_score
import pandas as pd

##### For a given topic dataset CSV, create three separate CSVs, corresponding to lockdowns, masking and distancing, and vaccination. The new CSVs are written with the name of the topic suffixed to the original filename.

```
import argparse
import re
import pandas as pd

parser = argparse.ArgumentParser()
parser.add_argument("--infile", "-i", type=str, help="CSV for dataset to expand",
                    required=True)
args = parser.parse_args()

for topic in ["lockdowns", "masking and distancing", "vaccination"]:
    df = pd.read_csv(args.infile)
    cols = df.columns
    for col in cols:
        if "annotation" in col:
            df[col] = (df[col].notna() & df[col].str.contains(topic))
    new_fn = re.sub(r"\.csv$", f"_{topic.replace(' ', '_')}.csv", args.infile)
    df.to_csv(new_fn, index=False)

```

###### Using command: python expand_topic_csv_dataset.py --infile change.org_topic_0.csv
###### Using command: python expand_topic_csv_dataset.py --infile change.org_topic_1.csv
###### Using command: python expand_topic_csv_dataset.py --infile change.org_topic_2.csv
###### Using command: python expand_topic_csv_dataset.py --infile change.org_topic_3.csv
###### Using command: python expand_topic_csv_dataset.py --infile change.org_topic_4.csv

## change.org_topic_0_lockdowns.csv

In [2]:
df = pd.read_csv(r'change.org_topic\change.org_topic_0_lockdowns.csv')
df.head()

,text,annotation_96,annotation_53,annotation_93,annotation_94,annotation_95
0,Language Education in the Time of COVID-19,False,False,False,False,False
1,COVID-19 Test Kits,False,False,False,False,False
2,COVID 19 IN PRISON,False,False,False,False,False
3,Get Waled Home,False,False,False,False,False
4,Make pass/fail available for Mississippi State...,False,False,False,False,False

In [3]:
print(df['annotation_53'].isnull().sum())
print(df['annotation_93'].isnull().sum())
print(df['annotation_94'].isnull().sum())
print(df['annotation_95'].isnull().sum())
print(df['annotation_96'].isnull().sum())
print(df['text'].isnull().sum())

0
0
0
0
0
0

In [4]:
annotation_1= df['annotation_53']
annotation_2= df['annotation_93']
annotation_3= df['annotation_94']
annotation_4= df['annotation_95']
annotation_5= df['annotation_96']

### Cohen_kappa average score of annotation 53

In [5]:
def cohen_avg_1():
    cohen_score_12 = cohen_kappa_score(annotation_1,annotation_2)
    cohen_score_13 = cohen_kappa_score(annotation_1,annotation_3)
    cohen_score_14 = cohen_kappa_score(annotation_1,annotation_4)
    cohen_score_15 = cohen_kappa_score(annotation_1,annotation_5)
    cohen_score_average_1 = round((cohen_score_12 + cohen_score_13 + cohen_score_14+ cohen_score_15)/4,3)
    #print("Average Cohen Kappa Score for annotation 53:",(cohen_score_average_1))
    return cohen_score_average_1

In [6]:
cohen_avg_1()

0.038

### Cohen_kappa average score of annotation 93

In [7]:
def cohen_avg_2():
    cohen_score_21 = cohen_kappa_score(annotation_2,annotation_1)
    cohen_score_23 = cohen_kappa_score(annotation_2,annotation_3)
    cohen_score_24 = cohen_kappa_score(annotation_2,annotation_4)
    cohen_score_25 = cohen_kappa_score(annotation_2,annotation_5)
    cohen_score_average_2 = round((cohen_score_21 + cohen_score_23 + cohen_score_24+ cohen_score_25)/4,3)
    #print("Average Cohen Kappa Score for annotation 93:",(cohen_score_average_2))
    return cohen_score_average_2

In [8]:
cohen_avg_2()

0.346

### Cohen_kappa average score of annotation 94

In [9]:
def cohen_avg_3():
    cohen_score_31 = cohen_kappa_score(annotation_3,annotation_1)
    cohen_score_32 = cohen_kappa_score(annotation_3,annotation_2)
    cohen_score_34 = cohen_kappa_score(annotation_3,annotation_4)
    cohen_score_35 = cohen_kappa_score(annotation_3,annotation_5)
    cohen_score_average_3 = round((cohen_score_31 + cohen_score_32 + cohen_score_34+ cohen_score_35)/4,3)
    #print("Average Cohen Kappa Score for annotation 94:",(cohen_score_average_3))
    return cohen_score_average_3

In [10]:
cohen_avg_3()

0.428

### Cohen_kappa average score of annotation 95

In [11]:
def cohen_avg_4():
    cohen_score_41 = cohen_kappa_score(annotation_4,annotation_1)
    cohen_score_42 = cohen_kappa_score(annotation_4,annotation_2)
    cohen_score_43 = cohen_kappa_score(annotation_4,annotation_3)
    cohen_score_45 = cohen_kappa_score(annotation_4,annotation_5)
    cohen_score_average_4 = round((cohen_score_41 + cohen_score_42 + cohen_score_43 + cohen_score_45)/4,3)
    #print("Average Cohen Kappa Score for annotation 95:",(cohen_score_average_4))
    return cohen_score_average_4

In [12]:
cohen_avg_4()

0.425

### Cohen_kappa average score of annotation 96

In [13]:
def cohen_avg_5():
    cohen_score_51 = cohen_kappa_score(annotation_5,annotation_1)
    cohen_score_52 = cohen_kappa_score(annotation_5,annotation_2)
    cohen_score_53 = cohen_kappa_score(annotation_5,annotation_3)
    cohen_score_54 = cohen_kappa_score(annotation_5,annotation_4)
    cohen_score_average_5 = round((cohen_score_51 + cohen_score_52 + cohen_score_53 + cohen_score_54)/4,3)
    #print("Average Cohen Kappa Score for annotation 96:",(cohen_score_average_5))
    return cohen_score_average_5

In [14]:
cohen_avg_5()

0.377

##### If average cohen kappa score for any annotation is less than 0.2, we will drop it

In [15]:
def drop_annotate():
    average = [cohen_avg_1(), cohen_avg_2(),cohen_avg_3(),cohen_avg_4(),cohen_avg_5()]
    columns_name = ['annotation_53','annotation_93','annotation_94','annotation_95','annotation_96']
    for i in range(0,len(average)):
        if average[i]< 0.2:
            print(columns_name[i])
            print(average[i])
            df.drop(columns_name[i], axis=1, inplace = True)
    print(df.head())
    r = []
    for col in df.columns:
        r.append(col)
    print(r[1:])

In [16]:
drop_annotate()

annotation_53
0.038
                                                text  annotation_96  \
0         Language Education in the Time of COVID-19          False
1                                 COVID-19 Test Kits          False
2                                 COVID 19 IN PRISON          False
3                                     Get Waled Home          False
4  Make pass/fail available for Mississippi State...          False

   annotation_93  annotation_94  annotation_95
0          False          False          False
1          False          False          False
2          False          False          False
3          False          False          False
4          False          False          False
['annotation_96', 'annotation_93', 'annotation_94', 'annotation_95']

In [17]:
def updateLabel(df):
    for index, rows in df.iterrows():
        match = [[cohen_avg_2(),rows['annotation_93']],
                   [cohen_avg_3(),rows['annotation_94']],
                   [cohen_avg_4(),rows['annotation_95']],
                    [cohen_avg_5(),rows['annotation_96']]]
        boolean = [rows['annotation_93'],rows['annotation_94'],rows['annotation_95'],rows['annotation_96']]
        match.sort(key = lambda k:k[0])
        true = match.count('True')
        false = match.count('False')
        if true == false: 
            kappa, columnV = match[-1]
            df.loc[index, 'Final Label'] = columnV
            
        elif true!=false:
            if true > false:
                df.loc[index, 'Final Label'] = True
            else:
                df.loc[index, 'Final Label'] = False

In [18]:
updateLabel(df)
df = df.iloc[:,[0,-1]]
df.head()

                                                text Final Label
0         Language Education in the Time of COVID-19       False
1                                 COVID-19 Test Kits       False
2                                 COVID 19 IN PRISON       False
3                                     Get Waled Home       False
4  Make pass/fail available for Mississippi State...       False

In [19]:
df.to_csv(r'C:\Users\stuar\Desktop\NLP Assignment 2\new_files\secondary\change.org_topic_0_lockdowns.csv',
           index = False)

## change.org_topic_0_masking_and_distancing.csv

In [20]:
df_1 = pd.read_csv(r'change.org_topic\change.org_topic_0_masking_and_distancing.csv')
df_1.head()

,text,annotation_96,annotation_53,annotation_93,annotation_94,annotation_95
0,Language Education in the Time of COVID-19,False,False,False,False,False
1,COVID-19 Test Kits,False,False,False,False,False
2,COVID 19 IN PRISON,False,False,False,False,False
3,Get Waled Home,False,False,False,False,False
4,Make pass/fail available for Mississippi State...,False,False,False,False,False

In [21]:
print(df_1['annotation_53'].isnull().sum())
print(df_1['annotation_93'].isnull().sum())
print(df_1['annotation_94'].isnull().sum())
print(df_1['annotation_95'].isnull().sum())
print(df_1['annotation_96'].isnull().sum())
print(df_1['text'].isnull().sum())

0
0
0
0
0
0

In [22]:
annotation_1= df_1['annotation_53']
annotation_2= df_1['annotation_93']
annotation_3= df_1['annotation_94']
annotation_4= df_1['annotation_95']
annotation_5= df_1['annotation_96']

### Cohen_kappa average score of annotation 53

In [23]:
def cohen_avg_1():
    cohen_score_12 = cohen_kappa_score(annotation_1,annotation_2)
    cohen_score_13 = cohen_kappa_score(annotation_1,annotation_3)
    cohen_score_14 = cohen_kappa_score(annotation_1,annotation_4)
    cohen_score_15 = cohen_kappa_score(annotation_1,annotation_5)
    cohen_score_average_1 = round((cohen_score_12 + cohen_score_13 + cohen_score_14+ cohen_score_15)/4,3)
    #print("Average Cohen Kappa Score for annotation 53:",(cohen_score_average_1))
    return cohen_score_average_1

In [24]:
cohen_avg_1()

-0.006

### Cohen_kappa average score of annotation 93

In [25]:
def cohen_avg_2():
    cohen_score_21 = cohen_kappa_score(annotation_2,annotation_1)
    cohen_score_23 = cohen_kappa_score(annotation_2,annotation_3)
    cohen_score_24 = cohen_kappa_score(annotation_2,annotation_4)
    cohen_score_25 = cohen_kappa_score(annotation_2,annotation_5)
    cohen_score_average_2 = round((cohen_score_21 + cohen_score_23 + cohen_score_24+ cohen_score_25)/4,3)
    #print("Average Cohen Kappa Score for annotation 93:",(cohen_score_average_2))
    return cohen_score_average_2

In [26]:
cohen_avg_2()

0.139

### Cohen_kappa average score of annotation 94

In [27]:
def cohen_avg_3():
    cohen_score_31 = cohen_kappa_score(annotation_3,annotation_1)
    cohen_score_32 = cohen_kappa_score(annotation_3,annotation_2)
    cohen_score_34 = cohen_kappa_score(annotation_3,annotation_4)
    cohen_score_35 = cohen_kappa_score(annotation_3,annotation_5)
    cohen_score_average_3 = round((cohen_score_31 + cohen_score_32 + cohen_score_34+ cohen_score_35)/4,3)
    #print("Average Cohen Kappa Score for annotation 94:",(cohen_score_average_3))
    return cohen_score_average_3

In [28]:
cohen_avg_3()

0.193

### Cohen_kappa average score of annotation 95

In [29]:
def cohen_avg_4():
    cohen_score_41 = cohen_kappa_score(annotation_4,annotation_1)
    cohen_score_42 = cohen_kappa_score(annotation_4,annotation_2)
    cohen_score_43 = cohen_kappa_score(annotation_4,annotation_3)
    cohen_score_45 = cohen_kappa_score(annotation_4,annotation_5)
    cohen_score_average_4 = round((cohen_score_41 + cohen_score_42 + cohen_score_43 + cohen_score_45)/4,3)
    #print("Average Cohen Kappa Score for annotation 95:",(cohen_score_average_4))
    return cohen_score_average_4

In [30]:
cohen_avg_4()

0.258

### Cohen_kappa average score of annotation 96

In [31]:
def cohen_avg_5():
    cohen_score_51 = cohen_kappa_score(annotation_5,annotation_1)
    cohen_score_52 = cohen_kappa_score(annotation_5,annotation_2)
    cohen_score_53 = cohen_kappa_score(annotation_5,annotation_3)
    cohen_score_54 = cohen_kappa_score(annotation_5,annotation_4)
    cohen_score_average_5 = round((cohen_score_51 + cohen_score_52 + cohen_score_53 + cohen_score_54)/4,3)
    #print("Average Cohen Kappa Score for annotation 96:",(cohen_score_average_5))
    return cohen_score_average_5

In [32]:
cohen_avg_5()

0.201

##### If average cohen kappa score for any annotation is less than 0.2, we will drop it

In [33]:
def drop_annotate():
    average = [cohen_avg_1(), cohen_avg_2(),cohen_avg_3(),cohen_avg_4(),cohen_avg_5()]
    columns_name = ['annotation_53','annotation_93','annotation_94','annotation_95','annotation_96']
    for i in range(0,len(average)):
        if average[i]< 0.2:
            print("\t")
            print(columns_name[i])
            print(average[i])
            df_1.drop(columns_name[i], axis=1, inplace = True)
    print(df_1.head())
    r = []
    for col in df_1.columns:
        r.append(col)
    print(r[1:])

In [34]:
drop_annotate()

annotation_53
-0.006

annotation_93
0.139

annotation_94
0.193
                                                text  annotation_96  \
0         Language Education in the Time of COVID-19          False
1                                 COVID-19 Test Kits          False
2                                 COVID 19 IN PRISON          False
3                                     Get Waled Home          False
4  Make pass/fail available for Mississippi State...          False

   annotation_95
0          False
1          False
2          False
3          False
4          False
['annotation_96', 'annotation_95']

In [35]:
def updateLabel(df_1):
    for index, rows in df_1.iterrows():
        match = [[cohen_avg_4(),rows['annotation_95']],
                    [cohen_avg_5(),rows['annotation_96']]]
        boolean = [rows['annotation_95'],rows['annotation_96']]
        match.sort(key = lambda k:k[0])
        true = match.count('True')
        false = match.count('False')
        if true == false: 
            kappa, ColumnV = match[-1]
            df_1.loc[index, 'Final Label'] = ColumnV
            
        elif true!=false:
            if true > false:
                df_1.loc[index, 'Final Label'] = True
            else:
                df_1.loc[index, 'Final Label'] = False

In [36]:
updateLabel(df_1)
df_1 = df_1.iloc[:,[0,-1]]
df_1.head()

                                                text Final Label
0         Language Education in the Time of COVID-19       False
1                                 COVID-19 Test Kits       False
2                                 COVID 19 IN PRISON       False
3                                     Get Waled Home       False
4  Make pass/fail available for Mississippi State...       False

In [37]:
df_1.to_csv(r'C:\Users\stuar\Desktop\NLP Assignment 2\new_files\secondary\change.org_topic_0_masking_and_distancing.csv',
           index = False)

## change.org_topic_0_vaccination.csv

In [38]:
df_2 = pd.read_csv(r'change.org_topic\change.org_topic_0_vaccination.csv')
df_2.head()

,text,annotation_96,annotation_53,annotation_93,annotation_94,annotation_95
0,Language Education in the Time of COVID-19,False,False,False,False,False
1,COVID-19 Test Kits,False,False,False,False,False
2,COVID 19 IN PRISON,False,False,False,False,False
3,Get Waled Home,False,False,False,False,False
4,Make pass/fail available for Mississippi State...,False,False,False,False,False

In [39]:
print(df_2['annotation_53'].isnull().sum())
print(df_2['annotation_93'].isnull().sum())
print(df_2['annotation_94'].isnull().sum())
print(df_2['annotation_95'].isnull().sum())
print(df_2['annotation_96'].isnull().sum())
print(df_2['text'].isnull().sum())

0
0
0
0
0
0

In [40]:
annotation_1= df_2['annotation_53']
annotation_2= df_2['annotation_93']
annotation_3= df_2['annotation_94']
annotation_4= df_2['annotation_95']
annotation_5= df_2['annotation_96']

### Cohen_kappa average score of annotation 53

In [41]:
def cohen_avg_1():
    cohen_score_12 = cohen_kappa_score(annotation_1,annotation_2)
    cohen_score_13 = cohen_kappa_score(annotation_1,annotation_3)
    cohen_score_14 = cohen_kappa_score(annotation_1,annotation_4)
    cohen_score_15 = cohen_kappa_score(annotation_1,annotation_5)
    cohen_score_average_1 = round((cohen_score_12 + cohen_score_13 + cohen_score_14+ cohen_score_15)/4,3)
    #print("Average Cohen Kappa Score for annotation 53:",(cohen_score_average_1))
    return cohen_score_average_1

In [42]:
cohen_avg_1()

-0.005

### Cohen_kappa average score of annotation 93

In [43]:
def cohen_avg_2():
    cohen_score_21 = cohen_kappa_score(annotation_2,annotation_1)
    cohen_score_23 = cohen_kappa_score(annotation_2,annotation_3)
    cohen_score_24 = cohen_kappa_score(annotation_2,annotation_4)
    cohen_score_25 = cohen_kappa_score(annotation_2,annotation_5)
    cohen_score_average_2 = round((cohen_score_21 + cohen_score_23 + cohen_score_24+ cohen_score_25)/4,3)
    #print("Average Cohen Kappa Score for annotation 93:",(cohen_score_average_2))
    return cohen_score_average_2

In [44]:
cohen_avg_2()

0.262

### Cohen_kappa average score of annotation 94

In [45]:
def cohen_avg_3():
    cohen_score_31 = cohen_kappa_score(annotation_3,annotation_1)
    cohen_score_32 = cohen_kappa_score(annotation_3,annotation_2)
    cohen_score_34 = cohen_kappa_score(annotation_3,annotation_4)
    cohen_score_35 = cohen_kappa_score(annotation_3,annotation_5)
    cohen_score_average_3 = round((cohen_score_31 + cohen_score_32 + cohen_score_34+ cohen_score_35)/4,3)
    #print("Average Cohen Kappa Score for annotation 94:",(cohen_score_average_3))
    return cohen_score_average_3

In [46]:
cohen_avg_3()

0.251

### Cohen_kappa average score of annotation 95

In [47]:
def cohen_avg_4():
    cohen_score_41 = cohen_kappa_score(annotation_4,annotation_1)
    cohen_score_42 = cohen_kappa_score(annotation_4,annotation_2)
    cohen_score_43 = cohen_kappa_score(annotation_4,annotation_3)
    cohen_score_45 = cohen_kappa_score(annotation_4,annotation_5)
    cohen_score_average_4 = round((cohen_score_41 + cohen_score_42 + cohen_score_43 + cohen_score_45)/4,3)
    #print("Average Cohen Kappa Score for annotation 95:",(cohen_score_average_4))
    return cohen_score_average_4

In [48]:
cohen_avg_4()

0.137

### Cohen_kappa average score of annotation 96

In [49]:
def cohen_avg_5():
    cohen_score_51 = cohen_kappa_score(annotation_5,annotation_1)
    cohen_score_52 = cohen_kappa_score(annotation_5,annotation_2)
    cohen_score_53 = cohen_kappa_score(annotation_5,annotation_3)
    cohen_score_54 = cohen_kappa_score(annotation_5,annotation_4)
    cohen_score_average_5 = round((cohen_score_51 + cohen_score_52 + cohen_score_53 + cohen_score_54)/4,3)
    #print("Average Cohen Kappa Score for annotation 96:",(cohen_score_average_5))
    return cohen_score_average_5

In [50]:
cohen_avg_5()

0.122

##### If average cohen kappa score for any annotation is less than 0.2, we will drop it

In [51]:
def drop_annotate():
    average = [cohen_avg_1(), cohen_avg_2(),cohen_avg_3(),cohen_avg_4(),cohen_avg_5()]
    columns_name = ['annotation_53','annotation_93','annotation_94','annotation_95','annotation_96']
    for i in range(0,len(average)):
        if average[i]< 0.2:
            print("\t")
            print(columns_name[i])
            print(average[i])
            df_2.drop(columns_name[i], axis=1, inplace = True)
    print(df_2.head())
    r = []
    for col in df_2.columns:
        r.append(col)
    print(r[1:])

In [52]:
drop_annotate()

annotation_53
-0.005

annotation_95
0.137

annotation_96
0.122
                                                text  annotation_93  \
0         Language Education in the Time of COVID-19          False
1                                 COVID-19 Test Kits          False
2                                 COVID 19 IN PRISON          False
3                                     Get Waled Home          False
4  Make pass/fail available for Mississippi State...          False

   annotation_94
0          False
1          False
2          False
3          False
4          False
['annotation_93', 'annotation_94']

In [53]:
def updateLabel(df_2):
    for index, rows in df_2.iterrows():
        match = [[cohen_avg_2(),rows['annotation_93']],
                   [cohen_avg_3(),rows['annotation_94']]]
        boolean = [rows['annotation_93'],rows['annotation_94']]
        match.sort(key = lambda k:k[0])
        true = match.count('True')
        false = match.count('False')
        if true == false: 
            kappa, columnV = match[-1]
            df_2.loc[index, 'Final Label'] = columnV
            
        elif true!=false:
            if true > false:
                df_2.loc[index, 'Final Label'] = True
            else:
                df_2.loc[index, 'Final Label'] = False

In [54]:
updateLabel(df_2)
df_2 = df_2.iloc[:,[0,-1]]
df_2.head()

                                                text Final Label
0         Language Education in the Time of COVID-19       False
1                                 COVID-19 Test Kits       False
2                                 COVID 19 IN PRISON       False
3                                     Get Waled Home       False
4  Make pass/fail available for Mississippi State...       False

In [55]:
df_2.to_csv(r'C:\Users\stuar\Desktop\NLP Assignment 2\new_files\secondary\change.org_topic_0_vaccination.csv',
           index = False)

## change.org_topic_1_lockdowns.csv

In [56]:
df_3 = pd.read_csv(r'change.org_topic\change.org_topic_1_lockdowns.csv')
df_3.head()

,text,annotation_112,annotation_109,annotation_110,annotation_111
0,Get CoVID Vaccines to Nepal ASAP and prevent a...,False,False,False,False
1,Compensate Essential Workers,False,False,False,True
2,Amend Recent COVID-19 Restrictions for Persona...,False,True,True,False
3,Petition against COVID-19 & Quarantine Bill: S...,True,False,False,False
4,KCL Has Coronavirus Case: Petition to Have Onl...,True,True,True,False

In [57]:
print(df_3['annotation_109'].isnull().sum())
print(df_3['annotation_110'].isnull().sum())
print(df_3['annotation_111'].isnull().sum())
print(df_3['annotation_112'].isnull().sum())
print(df_3['text'].isnull().sum())

0
0
0
0
0

In [58]:
annotation_1= df_3['annotation_109']
annotation_2= df_3['annotation_110']
annotation_3= df_3['annotation_111']
annotation_4= df_3['annotation_112']

### Cohen_kappa average score of annotation 109

In [59]:
def cohen_avg_1():
    cohen_score_12 = cohen_kappa_score(annotation_1,annotation_2)
    cohen_score_13 = cohen_kappa_score(annotation_1,annotation_3)
    cohen_score_14 = cohen_kappa_score(annotation_1,annotation_4)
    cohen_score_average_1 = round((cohen_score_12 + cohen_score_13 + cohen_score_14)/3,3)
    #print("Average Cohen Kappa Score for annotation 109:",(cohen_score_average_1))
    return cohen_score_average_1

In [60]:
cohen_avg_1()

0.466

### Cohen_kappa average score of annotation 110

In [61]:
def cohen_avg_2():
    cohen_score_21 = cohen_kappa_score(annotation_2,annotation_1)
    cohen_score_23 = cohen_kappa_score(annotation_2,annotation_3)
    cohen_score_24 = cohen_kappa_score(annotation_2,annotation_4)
    cohen_score_average_2 = round((cohen_score_21 + cohen_score_23 + cohen_score_24)/3,3)
    #print("Average Cohen Kappa Score for annotation 110:",(cohen_score_average_2))
    return cohen_score_average_2

In [62]:
cohen_avg_2()

0.357

### Cohen_kappa average score of annotation 111

In [63]:
def cohen_avg_3():
    cohen_score_31 = cohen_kappa_score(annotation_3,annotation_1)
    cohen_score_32 = cohen_kappa_score(annotation_3,annotation_2)
    cohen_score_34 = cohen_kappa_score(annotation_3,annotation_4)
    cohen_score_average_3 = round((cohen_score_31 + cohen_score_32 + cohen_score_34)/3,3)
    #print("Average Cohen Kappa Score for annotation 111:",(cohen_score_average_3))
    return cohen_score_average_3

In [64]:
cohen_avg_3()

0.306

### Cohen_kappa average score of annotation 112

In [65]:
def cohen_avg_4():
    cohen_score_41 = cohen_kappa_score(annotation_4,annotation_1)
    cohen_score_42 = cohen_kappa_score(annotation_4,annotation_2)
    cohen_score_43 = cohen_kappa_score(annotation_4,annotation_3)
    cohen_score_average_4 = round((cohen_score_41 + cohen_score_42 + cohen_score_43)/3,3)
    #print("Average Cohen Kappa Score for annotation 112:",(cohen_score_average_4))
    return cohen_score_average_4

In [66]:
cohen_avg_4()

0.394

##### If average cohen kappa score for any annotation is less than 0.2, we will drop it

In [67]:
def drop_annotate():
    average = [cohen_avg_1(), cohen_avg_2(),cohen_avg_3(),cohen_avg_4()]
    columns_name = ['annotation_109','annotation_110','annotation_111','annotation_112']
    
    for i in range(0,len(average)):
        if average[i]< 0.2:
            print(columns_name[i])
            print(average[i])
            df_3.drop(columns_name[i], axis=1, inplace = True)
    print(df_3.head())
    r = []
    for col in df_3.columns:
        r.append(col)
    print(r[1:])

In [68]:
drop_annotate()

                                                text  annotation_112  \
0  Get CoVID Vaccines to Nepal ASAP and prevent a...           False
1                       Compensate Essential Workers           False
2  Amend Recent COVID-19 Restrictions for Persona...           False
3  Petition against COVID-19 & Quarantine Bill: S...            True
4  KCL Has Coronavirus Case: Petition to Have Onl...            True

   annotation_109  annotation_110  annotation_111
0           False           False           False
1           False           False            True
2            True            True           False
3           False           False           False
4            True            True           False
['annotation_112', 'annotation_109', 'annotation_110', 'annotation_111']

In [69]:
def updateLabel(df_3):
    for index, rows in df_3.iterrows():
        match = [[cohen_avg_1(),rows['annotation_109']],
                   [cohen_avg_2(),rows['annotation_110']],
                   [cohen_avg_3(),rows['annotation_111']],
                    [cohen_avg_4(),rows['annotation_112']]]
        boolean = [rows['annotation_109'],rows['annotation_110'],rows['annotation_111'],rows['annotation_112']]
        match.sort(key = lambda k:k[0])
        true = match.count('True')
        false = match.count('False')
        if true == false: 
            kappa, columnV = match[-1]
            df_3.loc[index, 'Final Label'] = columnV
            
        elif true!=false:
            if true > false:
                df_3.loc[index, 'Final Label'] = True
            else:
                df_3.loc[index, 'Final Label'] = False

In [70]:
updateLabel(df_3)
df_3 = df_3.iloc[:,[0,-1]]
df_3.head()

                                                text Final Label
0  Get CoVID Vaccines to Nepal ASAP and prevent a...       False
1                       Compensate Essential Workers       False
2  Amend Recent COVID-19 Restrictions for Persona...        True
3  Petition against COVID-19 & Quarantine Bill: S...       False
4  KCL Has Coronavirus Case: Petition to Have Onl...        True

In [71]:
df_3.to_csv(r'C:\Users\stuar\Desktop\NLP Assignment 2\new_files\secondary\change.org_topic_1_lockdowns.csv',
           index = False)

## change_topic_1_masking_and_distancing.csv

In [72]:
df_4 = pd.read_csv(r'change.org_topic\change.org_topic_1_masking_and_distancing.csv')
df_4.head()

,text,annotation_112,annotation_109,annotation_110,annotation_111
0,Get CoVID Vaccines to Nepal ASAP and prevent a...,False,False,False,False
1,Compensate Essential Workers,False,False,False,True
2,Amend Recent COVID-19 Restrictions for Persona...,False,False,False,True
3,Petition against COVID-19 & Quarantine Bill: S...,False,False,False,False
4,KCL Has Coronavirus Case: Petition to Have Onl...,False,False,False,False

In [73]:
print(df_4['annotation_109'].isnull().sum())
print(df_4['annotation_110'].isnull().sum())
print(df_4['annotation_111'].isnull().sum())
print(df_4['annotation_112'].isnull().sum())
print(df_4['text'].isnull().sum())

0
0
0
0
0

In [74]:
annotation_1= df_4['annotation_109']
annotation_2= df_4['annotation_110']
annotation_3= df_4['annotation_111']
annotation_4= df_4['annotation_112']

### Cohen_kappa average score of annotation 109

In [75]:
def cohen_avg_1():
    cohen_score_12 = cohen_kappa_score(annotation_1,annotation_2)
    cohen_score_13 = cohen_kappa_score(annotation_1,annotation_3)
    cohen_score_14 = cohen_kappa_score(annotation_1,annotation_4)
    cohen_score_average_1 = round((cohen_score_12 + cohen_score_13 + cohen_score_14)/3,3)
    #print("Average Cohen Kappa Score for annotation 109:",(cohen_score_average_1))
    return cohen_score_average_1

In [76]:
cohen_avg_1()

0.25

### Cohen_kappa average score of annotation 110

In [77]:
def cohen_avg_2():
    cohen_score_21 = cohen_kappa_score(annotation_2,annotation_1)
    cohen_score_23 = cohen_kappa_score(annotation_2,annotation_3)
    cohen_score_24 = cohen_kappa_score(annotation_2,annotation_4)
    cohen_score_average_2 = round((cohen_score_21 + cohen_score_23 + cohen_score_24)/3,3)
    #print("Average Cohen Kappa Score for annotation 110:",(cohen_score_average_2))
    return cohen_score_average_2

In [78]:
cohen_avg_2()

0.297

### Cohen_kappa average score of annotation 111

In [79]:
def cohen_avg_3():
    cohen_score_31 = cohen_kappa_score(annotation_3,annotation_1)
    cohen_score_32 = cohen_kappa_score(annotation_3,annotation_2)
    cohen_score_34 = cohen_kappa_score(annotation_3,annotation_4)
    cohen_score_average_3 = round((cohen_score_31 + cohen_score_32 + cohen_score_34)/3,3)
    #print("Average Cohen Kappa Score for annotation 111:",(cohen_score_average_3))
    return cohen_score_average_3

In [80]:
cohen_avg_3()

0.213

### Cohen_kappa average score of annotation 112

In [81]:
def cohen_avg_4():
    cohen_score_41 = cohen_kappa_score(annotation_4,annotation_1)
    cohen_score_42 = cohen_kappa_score(annotation_4,annotation_2)
    cohen_score_43 = cohen_kappa_score(annotation_4,annotation_3)
    cohen_score_average_4 = round((cohen_score_41 + cohen_score_42 + cohen_score_43)/3,3)
    #print("Average Cohen Kappa Score for annotation 112:",(cohen_score_average_4))
    return cohen_score_average_4

In [82]:
cohen_avg_4()

0.327

##### If average cohen kappa score for any annotation is less than 0.2, we will drop it

In [83]:
def drop_annotate():
    average = [cohen_avg_1(), cohen_avg_2(),cohen_avg_3(),cohen_avg_4()]
    columns_name = ['annotation_109','annotation_110','annotation_111','annotation_112']
    for i in range(0,len(average)):
        if average[i]< 0.2:
            print(columns_name[i])
            print(average[i])
            df_4.drop(columns_name[i], axis=1, inplace = True)
    print(df_4.head())
    r = []
    for col in df_4.columns:
        r.append(col)
    print(r[1:])

In [84]:
drop_annotate()

                                                text  annotation_112  \
0  Get CoVID Vaccines to Nepal ASAP and prevent a...           False
1                       Compensate Essential Workers           False
2  Amend Recent COVID-19 Restrictions for Persona...           False
3  Petition against COVID-19 & Quarantine Bill: S...           False
4  KCL Has Coronavirus Case: Petition to Have Onl...           False

   annotation_109  annotation_110  annotation_111
0           False           False           False
1           False           False            True
2           False           False            True
3           False           False           False
4           False           False           False
['annotation_112', 'annotation_109', 'annotation_110', 'annotation_111']

In [85]:
def updateLabel(df_4):
    for index, rows in df_4.iterrows():
        match = [[cohen_avg_1(),rows['annotation_109']],
                   [cohen_avg_2(),rows['annotation_110']],
                   [cohen_avg_3(),rows['annotation_111']],
                    [cohen_avg_4(),rows['annotation_112']]]
        boolean = [rows['annotation_109'],rows['annotation_110'],rows['annotation_111'],rows['annotation_112']]
        match.sort(key = lambda k:k[0])
        true = match.count('True')
        false = match.count('False')
        if true == false: 
            kappa, columnV = match[-1]
            df_4.loc[index, 'Final Label'] = columnV
            
        elif true!=false:
            if true > false:
                df_4.loc[index, 'Final Label'] = True
            else:
                df_4.loc[index, 'Final Label'] = False

In [86]:
updateLabel(df_4)
df_4 = df_4.iloc[:,[0,-1]]
df_4.head()

                                                text Final Label
0  Get CoVID Vaccines to Nepal ASAP and prevent a...       False
1                       Compensate Essential Workers       False
2  Amend Recent COVID-19 Restrictions for Persona...       False
3  Petition against COVID-19 & Quarantine Bill: S...       False
4  KCL Has Coronavirus Case: Petition to Have Onl...       False

In [87]:
df_4.to_csv(r'C:\Users\stuar\Desktop\NLP Assignment 2\new_files\secondary\change.org_topic_1_masking_and_distancing.csv',
           index = False)

## change.org_topic_1_vaccination.csv

In [88]:
df_5 = pd.read_csv(r'change.org_topic\change.org_topic_1_vaccination.csv')
df_5.head()

,text,annotation_112,annotation_109,annotation_110,annotation_111
0,Get CoVID Vaccines to Nepal ASAP and prevent a...,True,True,True,True
1,Compensate Essential Workers,False,False,True,False
2,Amend Recent COVID-19 Restrictions for Persona...,False,False,False,False
3,Petition against COVID-19 & Quarantine Bill: S...,False,False,False,False
4,KCL Has Coronavirus Case: Petition to Have Onl...,False,False,False,False

In [89]:
print(df_5['annotation_109'].isnull().sum())
print(df_5['annotation_110'].isnull().sum())
print(df_5['annotation_111'].isnull().sum())
print(df_5['annotation_112'].isnull().sum())
print(df_5['text'].isnull().sum())

0
0
0
0
0

In [90]:
annotation_1= df_5['annotation_109']
annotation_2= df_5['annotation_110']
annotation_3= df_5['annotation_111']
annotation_4= df_5['annotation_112']

### Cohen_kappa average score of annotation 109

In [91]:
def cohen_avg_1():
    cohen_score_12 = cohen_kappa_score(annotation_1,annotation_2)
    cohen_score_13 = cohen_kappa_score(annotation_1,annotation_3)
    cohen_score_14 = cohen_kappa_score(annotation_1,annotation_4)
    cohen_score_average_1 = round((cohen_score_12 + cohen_score_13 + cohen_score_14)/3,3)
    #print("Average Cohen Kappa Score for annotation 109:",(cohen_score_average_1))
    return cohen_score_average_1

In [92]:
cohen_avg_1()

0.411

### Cohen_kappa average score of annotation 110

In [93]:
def cohen_avg_2():
    cohen_score_21 = cohen_kappa_score(annotation_2,annotation_1)
    cohen_score_23 = cohen_kappa_score(annotation_2,annotation_3)
    cohen_score_24 = cohen_kappa_score(annotation_2,annotation_4)
    cohen_score_average_2 = round((cohen_score_21 + cohen_score_23 + cohen_score_24)/3,3)
    #print("Average Cohen Kappa Score for annotation 110:",(cohen_score_average_2))
    return cohen_score_average_2

In [94]:
cohen_avg_2()

0.336

### Cohen_kappa average score of annotation 111

In [95]:
def cohen_avg_3():
    cohen_score_31 = cohen_kappa_score(annotation_3,annotation_1)
    cohen_score_32 = cohen_kappa_score(annotation_3,annotation_2)
    cohen_score_34 = cohen_kappa_score(annotation_3,annotation_4)
    cohen_score_average_3 = round((cohen_score_31 + cohen_score_32 + cohen_score_34)/3,3)
    #print("Average Cohen Kappa Score for annotation 111:",(cohen_score_average_3))
    return cohen_score_average_3

In [96]:
cohen_avg_3()

0.157

### Cohen_kappa average score of annotation 112

In [97]:
def cohen_avg_4():
    cohen_score_41 = cohen_kappa_score(annotation_4,annotation_1)
    cohen_score_42 = cohen_kappa_score(annotation_4,annotation_2)
    cohen_score_43 = cohen_kappa_score(annotation_4,annotation_3)
    cohen_score_average_4 = round((cohen_score_41 + cohen_score_42 + cohen_score_43)/3,3)
    #print("Average Cohen Kappa Score for annotation 112:",(cohen_score_average_4))
    return cohen_score_average_4

In [98]:
cohen_avg_4()

0.407

##### If average cohen kappa score for any annotation is less than 0.2, we will drop it

In [99]:
def drop_annotate():
    average = [cohen_avg_1(), cohen_avg_2(),cohen_avg_3(),cohen_avg_4()]
    columns_name = ['annotation_109','annotation_110','annotation_111','annotation_112']
    for i in range(0,len(average)):
        if average[i]< 0.2:
            print(columns_name[i])
            print(average[i])
            df_5.drop(columns_name[i], axis=1, inplace = True)
    print(df_5.head())
    r=[]
    for col in df_5.columns:
        r.append(col)
    print(r[1:])

In [100]:
drop_annotate()

annotation_111
0.157
                                                text  annotation_112  \
0  Get CoVID Vaccines to Nepal ASAP and prevent a...            True
1                       Compensate Essential Workers           False
2  Amend Recent COVID-19 Restrictions for Persona...           False
3  Petition against COVID-19 & Quarantine Bill: S...           False
4  KCL Has Coronavirus Case: Petition to Have Onl...           False

   annotation_109  annotation_110
0            True            True
1           False            True
2           False           False
3           False           False
4           False           False
['annotation_112', 'annotation_109', 'annotation_110']

In [101]:
def updateLabel(df_5):
    for index, rows in df_5.iterrows():
        match = [[cohen_avg_1(),rows['annotation_109']],
                   [cohen_avg_2(),rows['annotation_110']],
                    [cohen_avg_4(),rows['annotation_112']]]
        boolean = [rows['annotation_109'],rows['annotation_110'],rows['annotation_112']]
        match.sort(key = lambda k:k[0])
        true = match.count('True')
        false = match.count('False')
        if true == false: 
            kappa, columnV = match[-1]
            df_5.loc[index, 'Final Label'] = columnV
            
        elif true!=false:
            if true > false:
                df_5.loc[index, 'Final Label'] = True
            else:
                df_5.loc[index, 'Final Label'] = False

In [102]:
updateLabel(df_5)
df_5 = df_5.iloc[:,[0,-1]]
df_5.head()

                                                text Final Label
0  Get CoVID Vaccines to Nepal ASAP and prevent a...        True
1                       Compensate Essential Workers       False
2  Amend Recent COVID-19 Restrictions for Persona...       False
3  Petition against COVID-19 & Quarantine Bill: S...       False
4  KCL Has Coronavirus Case: Petition to Have Onl...       False

In [103]:
df_5.to_csv(r'C:\Users\stuar\Desktop\NLP Assignment 2\new_files\secondary\change.org_topic_1_vaccination.csv',
           index = False)

## change.org_topic_2_lockdowns.csv

In [104]:
df_6 = pd.read_csv(r'change.org_topic\change.org_topic_2_lockdowns.csv')
df_6.head()

,text,annotation_73,annotation_74,annotation_75,annotation_76
0,COVID-19 Awards,False,False,False,False
1,Cancel the 2020-2021 school year SOLs,True,True,False,True
2,..,False,False,False,False
3,Protect our nurses!,False,False,False,False
4,SENSELESS IMPRISONMENT FOR MY MOM.. FIRST TIME...,False,False,False,True

In [105]:
print(df_6['annotation_73'].isnull().sum())
print(df_6['annotation_74'].isnull().sum())
print(df_6['annotation_75'].isnull().sum())
print(df_6['annotation_76'].isnull().sum())
print(df_6['text'].isnull().sum())

0
0
0
0
0

In [106]:
annotation_1= df_6['annotation_73']
annotation_2= df_6['annotation_74']
annotation_3= df_6['annotation_75']
annotation_4= df_6['annotation_76']

### Cohen_kappa average score of annotation 73

In [107]:
def cohen_avg_1():
    cohen_score_12 = cohen_kappa_score(annotation_1,annotation_2)
    cohen_score_13 = cohen_kappa_score(annotation_1,annotation_3)
    cohen_score_14 = cohen_kappa_score(annotation_1,annotation_4)
    cohen_score_average_1 = round((cohen_score_12 + cohen_score_13 + cohen_score_14)/3,3)
    #print("Average Cohen Kappa Score for annotation 73:",(cohen_score_average_1))
    return cohen_score_average_1

In [108]:
cohen_avg_1()

0.623

### Cohen_kappa average score of annotation 74

In [109]:
def cohen_avg_2():
    cohen_score_21 = cohen_kappa_score(annotation_2,annotation_1)
    cohen_score_23 = cohen_kappa_score(annotation_2,annotation_3)
    cohen_score_24 = cohen_kappa_score(annotation_2,annotation_4)
    cohen_score_average_2 = round((cohen_score_21 + cohen_score_23 + cohen_score_24)/3,3)
    #print("Average Cohen Kappa Score for annotation 74:",(cohen_score_average_2))
    return cohen_score_average_2

In [110]:
cohen_avg_2()

0.643

### Cohen_kappa average score of annotation 75

In [111]:
def cohen_avg_3():
    cohen_score_31 = cohen_kappa_score(annotation_3,annotation_1)
    cohen_score_32 = cohen_kappa_score(annotation_3,annotation_2)
    cohen_score_34 = cohen_kappa_score(annotation_3,annotation_4)
    cohen_score_average_3 = round((cohen_score_31 + cohen_score_32 + cohen_score_34)/3,3)
    #print("Average Cohen Kappa Score for annotation 75:",(cohen_score_average_3))
    return cohen_score_average_3

In [112]:
cohen_avg_3()

0.479

### Cohen_kappa average score of annotation 76

In [113]:
def cohen_avg_4():
    cohen_score_41 = cohen_kappa_score(annotation_4,annotation_1)
    cohen_score_42 = cohen_kappa_score(annotation_4,annotation_2)
    cohen_score_43 = cohen_kappa_score(annotation_4,annotation_3)
    cohen_score_average_4 = round((cohen_score_41 + cohen_score_42 + cohen_score_43)/3,3)
    #print("Average Cohen Kappa Score for annotation 76:",(cohen_score_average_4))
    return cohen_score_average_4

In [114]:
cohen_avg_4()

0.648

##### If average cohen kappa score for any annotation is less than 0.2, we will drop it

In [115]:
def drop_annotate():
    average = [cohen_avg_1(), cohen_avg_2(),cohen_avg_3(),cohen_avg_4()]
    columns_name = ['annotation_73','annotation_74','annotation_75','annotation_76']
    for i in range(0,len(average)):
        if average[i]< 0.2:
            print(columns_name[i])
            print(average[i])
            df_6.drop(columns_name[i], axis=1, inplace = True)
    print(df_6.head())
    r=[]
    for col in df_6.columns:
        r.append(col)
    print(r[1:])

In [116]:
drop_annotate()

                                                text  annotation_73  \
0                                    COVID-19 Awards          False
1              Cancel the 2020-2021 school year SOLs           True
2                                                 ..          False
3                                Protect our nurses!          False
4  SENSELESS IMPRISONMENT FOR MY MOM.. FIRST TIME...          False

   annotation_74  annotation_75  annotation_76
0          False          False          False
1           True          False           True
2          False          False          False
3          False          False          False
4          False          False           True
['annotation_73', 'annotation_74', 'annotation_75', 'annotation_76']

In [117]:
def updateLabel(df_6):
    for index, rows in df_6.iterrows():
        match = [[cohen_avg_1(),rows['annotation_73']],
                   [cohen_avg_2(),rows['annotation_74']],
                   [cohen_avg_3(),rows['annotation_75']],
                    [cohen_avg_4(),rows['annotation_76']]]
        boolean = [rows['annotation_73'],rows['annotation_74'],rows['annotation_75'],rows['annotation_76']]
        match.sort(key = lambda k:k[0])
        true = match.count('True')
        false = match.count('False')
        if true == false: 
            kappa, columnV = match[-1]
            df_6.loc[index, 'Final Label'] = columnV
            
        elif true!=false:
            if true > false:
                df_6.loc[index, 'Final Label'] = True
            else:
                df_6.loc[index, 'Final Label'] = False

In [118]:
updateLabel(df_6)
df_6 = df_6.iloc[:,[0,-1]]
df_6.head()

                                                text Final Label
0                                    COVID-19 Awards       False
1              Cancel the 2020-2021 school year SOLs        True
2                                                 ..       False
3                                Protect our nurses!       False
4  SENSELESS IMPRISONMENT FOR MY MOM.. FIRST TIME...        True

In [119]:
df_6.to_csv(r'C:\Users\stuar\Desktop\NLP Assignment 2\new_files\secondary\change.org_topic_2_lockdowns.csv',
           index = False)

## change.org_topic_2_masking_and_distancing.csv

In [120]:
df_7 = pd.read_csv(r'change.org_topic\change.org_topic_2_masking_and_distancing.csv')
df_7.head()

,text,annotation_73,annotation_74,annotation_75,annotation_76
0,COVID-19 Awards,False,False,False,False
1,Cancel the 2020-2021 school year SOLs,False,False,False,False
2,..,False,False,False,False
3,Protect our nurses!,False,False,False,False
4,SENSELESS IMPRISONMENT FOR MY MOM.. FIRST TIME...,False,False,False,False

In [121]:
print(df_7['annotation_73'].isnull().sum())
print(df_7['annotation_74'].isnull().sum())
print(df_7['annotation_75'].isnull().sum())
print(df_7['annotation_76'].isnull().sum())
print(df_7['text'].isnull().sum())

0
0
0
0
0

In [122]:
annotation_1= df_7['annotation_73']
annotation_2= df_7['annotation_74']
annotation_3= df_7['annotation_75']
annotation_4= df_7['annotation_76']

### Cohen_kappa average score of annotation 73

In [123]:
def cohen_avg_1():
    cohen_score_12 = cohen_kappa_score(annotation_1,annotation_2)
    cohen_score_13 = cohen_kappa_score(annotation_1,annotation_3)
    cohen_score_14 = cohen_kappa_score(annotation_1,annotation_4)
    cohen_score_average_1 = round((cohen_score_12 + cohen_score_13 + cohen_score_14)/3,3)
    #print("Average Cohen Kappa Score for annotation 73:",(cohen_score_average_1))
    return cohen_score_average_1

In [124]:
cohen_avg_1()

0.204

### Cohen_kappa average score of annotation 74

In [125]:
def cohen_avg_2():
    cohen_score_21 = cohen_kappa_score(annotation_2,annotation_1)
    cohen_score_23 = cohen_kappa_score(annotation_2,annotation_3)
    cohen_score_24 = cohen_kappa_score(annotation_2,annotation_4)
    cohen_score_average_2 = round((cohen_score_21 + cohen_score_23 + cohen_score_24)/3,3)
    #print("Average Cohen Kappa Score for annotation 74:",(cohen_score_average_2))
    return cohen_score_average_2

In [126]:
cohen_avg_2()

0.221

### Cohen_kappa average score of annotation 75

In [127]:
def cohen_avg_3():
    cohen_score_31 = cohen_kappa_score(annotation_3,annotation_1)
    cohen_score_32 = cohen_kappa_score(annotation_3,annotation_2)
    cohen_score_34 = cohen_kappa_score(annotation_3,annotation_4)
    cohen_score_average_3 = round((cohen_score_31 + cohen_score_32 + cohen_score_34)/3,3)
#     print("Average Cohen Kappa Score for annotation 75:",(cohen_score_average_3))
    return cohen_score_average_3

In [128]:
cohen_avg_3()

0.0

### Cohen_kappa average score of annotation 76

In [129]:
def cohen_avg_4():
    cohen_score_41 = cohen_kappa_score(annotation_4,annotation_1)
    cohen_score_42 = cohen_kappa_score(annotation_4,annotation_2)
    cohen_score_43 = cohen_kappa_score(annotation_4,annotation_3)
    cohen_score_average_4 = round((cohen_score_41 + cohen_score_42 + cohen_score_43)/3,3)
#     print("Average Cohen Kappa Score for annotation 76:",(cohen_score_average_4))
    return cohen_score_average_4

In [130]:
cohen_avg_4()

0.198

##### If average cohen kappa score for any annotation is less than 0.2, we will drop it

In [131]:
def drop_annotate():
    average = [cohen_avg_1(), cohen_avg_2(),cohen_avg_3(),cohen_avg_4()]
    columns_name = ['annotation_73','annotation_74','annotation_75','annotation_76']
    for i in range(0,len(average)):
        if average[i]< 0.2:
            print("\n")
            print(columns_name[i])
            print(average[i])
            df_7.drop(columns_name[i], axis=1, inplace = True)
    print(df_7.head())
    r=[]
    for col in df_7.columns:
        r.append(col)
    print(r[1:])

In [132]:
drop_annotate()

annotation_75
0.0


annotation_76
0.198
                                                text  annotation_73  \
0                                    COVID-19 Awards          False
1              Cancel the 2020-2021 school year SOLs          False
2                                                 ..          False
3                                Protect our nurses!          False
4  SENSELESS IMPRISONMENT FOR MY MOM.. FIRST TIME...          False

   annotation_74
0          False
1          False
2          False
3          False
4          False
['annotation_73', 'annotation_74']

In [133]:
def updateLabel(df_7):
    for index, rows in df_7.iterrows():
        match = [[cohen_avg_1(),rows['annotation_73']],
                   [cohen_avg_2(),rows['annotation_74']],]
        boolean = [rows['annotation_73'],rows['annotation_74']]
        match.sort(key = lambda k:k[0])
        true = match.count('True')
        false = match.count('False')
        if true == false: 
            kappa, columnV = match[-1]
            df_7.loc[index, 'Final Label'] = columnV
            
        elif true!=false:
            if true > false:
                df_7.loc[index, 'Final Label'] = True
            else:
                df_7.loc[index, 'Final Label'] = False

In [134]:
updateLabel(df_7)
df_7 = df_7.iloc[:,[0,-1]]
df_7.head()

                                                text Final Label
0                                    COVID-19 Awards       False
1              Cancel the 2020-2021 school year SOLs       False
2                                                 ..       False
3                                Protect our nurses!       False
4  SENSELESS IMPRISONMENT FOR MY MOM.. FIRST TIME...       False

In [135]:
df_7.to_csv(r'C:\Users\stuar\Desktop\NLP Assignment 2\new_files\secondary\change.org_topic_2_masking_and_distancing.csv',
           index = False)

## change.org_topic_2_vaccination.csv

In [136]:
df_8 = pd.read_csv(r'change.org_topic\change.org_topic_2_vaccination.csv')
df_8.head()

,text,annotation_73,annotation_74,annotation_75,annotation_76
0,COVID-19 Awards,False,False,False,False
1,Cancel the 2020-2021 school year SOLs,False,False,False,False
2,..,False,False,False,False
3,Protect our nurses!,False,False,False,False
4,SENSELESS IMPRISONMENT FOR MY MOM.. FIRST TIME...,False,False,False,False

In [137]:
print(df_8['annotation_73'].isnull().sum())
print(df_8['annotation_74'].isnull().sum())
print(df_8['annotation_75'].isnull().sum())
print(df_8['annotation_76'].isnull().sum())
print(df_8['text'].isnull().sum())

0
0
0
0
0

In [138]:
annotation_1= df_8['annotation_73']
annotation_2= df_8['annotation_74']
annotation_3= df_8['annotation_75']
annotation_4= df_8['annotation_76']

### Cohen_kappa average score of annotation 73

In [139]:
def cohen_avg_1():
    cohen_score_12 = cohen_kappa_score(annotation_1,annotation_2)
    cohen_score_13 = cohen_kappa_score(annotation_1,annotation_3)
    cohen_score_14 = cohen_kappa_score(annotation_1,annotation_4)
    cohen_score_average_1 = round((cohen_score_12 + cohen_score_13 + cohen_score_14)/3,3)
    #print("Average Cohen Kappa Score for annotation 73:",(cohen_score_average_1))
    return cohen_score_average_1

In [140]:
cohen_avg_1()

0.652

### Cohen_kappa average score of annotation 74

In [141]:
def cohen_avg_2():
    cohen_score_21 = cohen_kappa_score(annotation_2,annotation_1)
    cohen_score_23 = cohen_kappa_score(annotation_2,annotation_3)
    cohen_score_24 = cohen_kappa_score(annotation_2,annotation_4)
    cohen_score_average_2 = round((cohen_score_21 + cohen_score_23 + cohen_score_24)/3,3)
    #print("Average Cohen Kappa Score for annotation 74:",(cohen_score_average_2))
    return cohen_score_average_2

In [142]:
cohen_avg_2()

0.785

### Cohen_kappa average score of annotation 75

In [143]:
def cohen_avg_3():
    cohen_score_31 = cohen_kappa_score(annotation_3,annotation_1)
    cohen_score_32 = cohen_kappa_score(annotation_3,annotation_2)
    cohen_score_34 = cohen_kappa_score(annotation_3,annotation_4)
    cohen_score_average_3 = round((cohen_score_31 + cohen_score_32 + cohen_score_34)/3,3)
    #print("Average Cohen Kappa Score for annotation 75:",(cohen_score_average_3))
    return cohen_score_average_3

In [144]:
cohen_avg_3()

0.583

### Cohen_kappa average score of annotation 76

In [145]:
def cohen_avg_4():
    cohen_score_41 = cohen_kappa_score(annotation_4,annotation_1)
    cohen_score_42 = cohen_kappa_score(annotation_4,annotation_2)
    cohen_score_43 = cohen_kappa_score(annotation_4,annotation_3)
    cohen_score_average_4 = round((cohen_score_41 + cohen_score_42 + cohen_score_43)/3,3)
    #print("Average Cohen Kappa Score for annotation 76:",(cohen_score_average_4))
    return cohen_score_average_4

In [146]:
cohen_avg_4()

0.75

##### If average cohen kappa score for any annotation is less than 0.2, we will drop it

In [147]:
def drop_annotate():
    average = [cohen_avg_1(), cohen_avg_2(),cohen_avg_3(),cohen_avg_4()]
    columns_name = ['annotation_73','annotation_74','annotation_75','annotation_76']
    for i in range(0,len(average)):
        if average[i]< 0.2:
            print("\n")
            print(columns_name[i])
            print(average[i])
            df_8.drop(columns_name[i], axis=1, inplace = True)
    print(df_8.head())
    r=[]
    for col in df_8.columns:
        r.append(col)
    print(r[1:])

In [148]:
drop_annotate()

                                                text  annotation_73  \
0                                    COVID-19 Awards          False
1              Cancel the 2020-2021 school year SOLs          False
2                                                 ..          False
3                                Protect our nurses!          False
4  SENSELESS IMPRISONMENT FOR MY MOM.. FIRST TIME...          False

   annotation_74  annotation_75  annotation_76
0          False          False          False
1          False          False          False
2          False          False          False
3          False          False          False
4          False          False          False
['annotation_73', 'annotation_74', 'annotation_75', 'annotation_76']

In [149]:
def updateLabel(df_8):
    for index, rows in df_8.iterrows():
        match = [[cohen_avg_1(),rows['annotation_73']],
                   [cohen_avg_2(),rows['annotation_74']],
                   [cohen_avg_3(),rows['annotation_75']],
                    [cohen_avg_4(),rows['annotation_76']]]
        boolean = [rows['annotation_73'],rows['annotation_74'],rows['annotation_75'],rows['annotation_76']]
        match.sort(key = lambda k:k[0])
        true = match.count('True')
        false = match.count('False')
        if true == false: 
            kappa, columnV = match[-1]
            df_8.loc[index, 'Final Label'] = columnV
            
        elif true!=false:
            if true > false:
                df_8.loc[index, 'Final Label'] = True
            else:
                df_8.loc[index, 'Final Label'] = False

In [150]:
updateLabel(df_8)
df_8 = df_8.iloc[:,[0,-1]]
df_8.head()

                                                text Final Label
0                                    COVID-19 Awards       False
1              Cancel the 2020-2021 school year SOLs       False
2                                                 ..       False
3                                Protect our nurses!       False
4  SENSELESS IMPRISONMENT FOR MY MOM.. FIRST TIME...       False

In [151]:
df_8.to_csv(r'C:\Users\stuar\Desktop\NLP Assignment 2\new_files\secondary\change.org_topic_2_vaccination.csv',
           index = False)

## change.org_topic_3_lockdowns.csv

In [152]:
df_9 = pd.read_csv(r'change.org_topic\change.org_topic_3_lockdowns.csv')
df_9.head()

,text,annotation_48,annotation_49,annotation_50,annotation_47
0,Postpone CBSE Board Exams,True,False,False,True
1,Pay rise for paramedics and nurses,False,False,False,False
2,Too Soon To Open Georgia!,True,True,True,True
3,Request to reconsider DPS Ruby Park school tui...,True,False,False,True
4,Covid-19 Aesthetics / Salon / Massage Industry...,False,False,False,True

In [153]:
print(df_9['annotation_47'].isnull().sum())
print(df_9['annotation_48'].isnull().sum())
print(df_9['annotation_49'].isnull().sum())
print(df_9['annotation_50'].isnull().sum())
print(df_9['text'].isnull().sum())

0
0
0
0
0

In [154]:
annotation_1= df_9['annotation_47']
annotation_2= df_9['annotation_48']
annotation_3= df_9['annotation_49']
annotation_4= df_9['annotation_50']

### Cohen_kappa average score of annotation 47

In [155]:
def cohen_avg_1():
    cohen_score_12 = cohen_kappa_score(annotation_1,annotation_2)
    cohen_score_13 = cohen_kappa_score(annotation_1,annotation_3)
    cohen_score_14 = cohen_kappa_score(annotation_1,annotation_4)
    cohen_score_average_1 = round((cohen_score_12 + cohen_score_13 + cohen_score_14)/3,3)
    #print("Average Cohen Kappa Score for annotation 47:",(cohen_score_average_1))
    return cohen_score_average_1

In [156]:
cohen_avg_1()

0.434

### Cohen_kappa average score of annotation 48

In [157]:
def cohen_avg_2():
    cohen_score_21 = cohen_kappa_score(annotation_2,annotation_1)
    cohen_score_23 = cohen_kappa_score(annotation_2,annotation_3)
    cohen_score_24 = cohen_kappa_score(annotation_2,annotation_4)
    cohen_score_average_2 = round((cohen_score_21 + cohen_score_23 + cohen_score_24)/3,3)
    #print("Average Cohen Kappa Score for annotation 48:",(cohen_score_average_2))
    return cohen_score_average_2

In [158]:
cohen_avg_2()

0.42

### Cohen_kappa average score of annotation 49

In [159]:
def cohen_avg_3():
    cohen_score_31 = cohen_kappa_score(annotation_3,annotation_1)
    cohen_score_32 = cohen_kappa_score(annotation_3,annotation_2)
    cohen_score_34 = cohen_kappa_score(annotation_3,annotation_4)
    cohen_score_average_3 = round((cohen_score_31 + cohen_score_32 + cohen_score_34)/3,3)
    #print("Average Cohen Kappa Score for annotation 49:",(cohen_score_average_3))
    return cohen_score_average_3

In [160]:
cohen_avg_3()

0.437

### Cohen_kappa average score of annotation 50

In [161]:
def cohen_avg_4():
    cohen_score_41 = cohen_kappa_score(annotation_4,annotation_1)
    cohen_score_42 = cohen_kappa_score(annotation_4,annotation_2)
    cohen_score_43 = cohen_kappa_score(annotation_4,annotation_3)
    cohen_score_average_4 = round((cohen_score_41 + cohen_score_42 + cohen_score_43)/3,3)
    #print("Average Cohen Kappa Score for annotation 50:",(cohen_score_average_4))
    return cohen_score_average_4

In [162]:
cohen_avg_4()

0.455

##### If average cohen kappa score for any annotation is less than 0.2, we will drop it

In [163]:
def drop_annotate():
    average = [cohen_avg_1(), cohen_avg_2(),cohen_avg_3(),cohen_avg_4()]
    columns_name = ['annotation_47','annotation_48','annotation_49','annotation_50']
    for i in range(0,len(average)):
        if average[i]< 0.2:
            print("\n")
            print(columns_name[i])
            print(average[i])
            df_9.drop(columns_name[i], axis=1, inplace = True)
    print(df_9.head())
    r =[]
    for col in df_9.columns:
        r.append(col)
    print(r[1:])

In [164]:
drop_annotate()

                                                text  annotation_48  \
0                          Postpone CBSE Board Exams           True
1                 Pay rise for paramedics and nurses          False
2                          Too Soon To Open Georgia!           True
3  Request to reconsider DPS Ruby Park school tui...           True
4  Covid-19 Aesthetics / Salon / Massage Industry...          False

   annotation_49  annotation_50  annotation_47
0          False          False           True
1          False          False          False
2           True           True           True
3          False          False           True
4          False          False           True
['annotation_48', 'annotation_49', 'annotation_50', 'annotation_47']

In [165]:
def updateLabel(df_9):
    for index, rows in df_9.iterrows():
        match = [[cohen_avg_1(),rows['annotation_47']],
                   [cohen_avg_2(),rows['annotation_48']],
                   [cohen_avg_3(),rows['annotation_49']],
                    [cohen_avg_4(),rows['annotation_50']]]
        boolean = [rows['annotation_47'],rows['annotation_48'],rows['annotation_49'],rows['annotation_50']]
        match.sort(key = lambda k:k[0])
        true = match.count('True')
        false = match.count('False')
        if true == false: 
            kappa, columnV = match[-1]
            df_9.loc[index, 'Final Label'] = columnV
            
        elif true!=false:
            if true > false:
                df_9.loc[index, 'Final Label'] = True
            else:
                df_9.loc[index, 'Final Label'] = False

In [166]:
updateLabel(df_9)
df_9 = df_9.iloc[:,[0,-1]]
df_9.head()

                                                text Final Label
0                          Postpone CBSE Board Exams       False
1                 Pay rise for paramedics and nurses       False
2                          Too Soon To Open Georgia!        True
3  Request to reconsider DPS Ruby Park school tui...       False
4  Covid-19 Aesthetics / Salon / Massage Industry...       False

In [167]:
df_9.to_csv(r'C:\Users\stuar\Desktop\NLP Assignment 2\new_files\secondary\change.org_topic_3_lockdowns.csv',
           index = False)

## change.org_topic_3_masking_and_distancing.csv

In [168]:
df_10 = pd.read_csv(r'change.org_topic\change.org_topic_3_masking_and_distancing.csv')
df_10.head()

,text,annotation_48,annotation_49,annotation_50,annotation_47
0,Postpone CBSE Board Exams,False,False,False,False
1,Pay rise for paramedics and nurses,False,False,False,False
2,Too Soon To Open Georgia!,False,False,False,False
3,Request to reconsider DPS Ruby Park school tui...,False,False,False,False
4,Covid-19 Aesthetics / Salon / Massage Industry...,False,False,False,False

In [169]:
print(df_10['annotation_47'].isnull().sum())
print(df_10['annotation_48'].isnull().sum())
print(df_10['annotation_49'].isnull().sum())
print(df_10['annotation_50'].isnull().sum())
print(df_10['text'].isnull().sum())

0
0
0
0
0

In [170]:
annotation_1= df_10['annotation_47']
annotation_2= df_10['annotation_48']
annotation_3= df_10['annotation_49']
annotation_4= df_10['annotation_50']

### Cohen_kappa average score of annotation 47

In [171]:
def cohen_avg_1():
    cohen_score_12 = cohen_kappa_score(annotation_1,annotation_2)
    cohen_score_13 = cohen_kappa_score(annotation_1,annotation_3)
    cohen_score_14 = cohen_kappa_score(annotation_1,annotation_4)
    cohen_score_average_1 = round((cohen_score_12 + cohen_score_13 + cohen_score_14)/3,3)
   #print("Average Cohen Kappa Score for annotation 47:",(cohen_score_average_1))
    return cohen_score_average_1

In [172]:
cohen_avg_1()

0.403

### Cohen_kappa average score of annotation 48

In [173]:
def cohen_avg_2():
    cohen_score_21 = cohen_kappa_score(annotation_2,annotation_1)
    cohen_score_23 = cohen_kappa_score(annotation_2,annotation_3)
    cohen_score_24 = cohen_kappa_score(annotation_2,annotation_4)
    cohen_score_average_2 = round((cohen_score_21 + cohen_score_23 + cohen_score_24)/3,3)
    #print("Average Cohen Kappa Score for annotation 48:",(cohen_score_average_2))
    return cohen_score_average_2

In [174]:
cohen_avg_2()

0.365

### Cohen_kappa average score of annotation 49

In [175]:
def cohen_avg_3():
    cohen_score_31 = cohen_kappa_score(annotation_3,annotation_1)
    cohen_score_32 = cohen_kappa_score(annotation_3,annotation_2)
    cohen_score_34 = cohen_kappa_score(annotation_3,annotation_4)
    cohen_score_average_3 = round((cohen_score_31 + cohen_score_32 + cohen_score_34)/3,3)
    #print("Average Cohen Kappa Score for annotation 49:",(cohen_score_average_3))
    return cohen_score_average_3

In [176]:
cohen_avg_3()

0.494

### Cohen_kappa average score of annotation 50

In [177]:
def cohen_avg_4():
    cohen_score_41 = cohen_kappa_score(annotation_4,annotation_1)
    cohen_score_42 = cohen_kappa_score(annotation_4,annotation_2)
    cohen_score_43 = cohen_kappa_score(annotation_4,annotation_3)
    cohen_score_average_4 = round((cohen_score_41 + cohen_score_42 + cohen_score_43)/3,3)
    #print("Average Cohen Kappa Score for annotation 50:",(cohen_score_average_4))
    return cohen_score_average_4

In [178]:
cohen_avg_4()

0.467

##### If average cohen kappa score for any annotation is less than 0.2, we will drop it

In [179]:
def drop_annotate():
    average = [cohen_avg_1(), cohen_avg_2(),cohen_avg_3(),cohen_avg_4()]
    columns_name = ['annotation_47','annotation_48','annotation_49','annotation_50']
    #columns =[annotation_1,annotation_2,annotation_3,annotation_4]
    for i in range(0,len(average)):
        if average[i]< 0.2:
            print("\n")
            print(columns_name[i])
            print(average[i])
            df_10.drop(columns_name[i], axis=1, inplace = True)
    print(df_10.head())
    r=[]
    for col in df_10.columns:
        r.append(col)
    print(r[1:])

In [180]:
drop_annotate()

                                                text  annotation_48  \
0                          Postpone CBSE Board Exams          False
1                 Pay rise for paramedics and nurses          False
2                          Too Soon To Open Georgia!          False
3  Request to reconsider DPS Ruby Park school tui...          False
4  Covid-19 Aesthetics / Salon / Massage Industry...          False

   annotation_49  annotation_50  annotation_47
0          False          False          False
1          False          False          False
2          False          False          False
3          False          False          False
4          False          False          False
['annotation_48', 'annotation_49', 'annotation_50', 'annotation_47']

In [181]:
def updateLabel(df_10):
    for index, rows in df_10.iterrows():
        match = [[cohen_avg_1(),rows['annotation_47']],
                   [cohen_avg_2(),rows['annotation_48']],
                   [cohen_avg_3(),rows['annotation_49']],
                    [cohen_avg_4(),rows['annotation_50']]]
        boolean = [rows['annotation_47'],rows['annotation_48'],rows['annotation_49'],rows['annotation_50']]
        match.sort(key = lambda k:k[0])
        true = match.count('True')
        false = match.count('False')
        if true == false: 
            kappa, columnV = match[-1]
            df_10.loc[index, 'Final Label'] = columnV
            
        elif true!=false:
            if true > false:
                df_10.loc[index, 'Final Label'] = True
            else:
                df_10.loc[index, 'Final Label'] = False

In [182]:
updateLabel(df_10)
df_10 = df_10.iloc[:,[0,-1]]
df_10.head()

                                                text Final Label
0                          Postpone CBSE Board Exams       False
1                 Pay rise for paramedics and nurses       False
2                          Too Soon To Open Georgia!       False
3  Request to reconsider DPS Ruby Park school tui...       False
4  Covid-19 Aesthetics / Salon / Massage Industry...       False

In [183]:
df_10.to_csv(r'C:\Users\stuar\Desktop\NLP Assignment 2\new_files\secondary\change.org_topic_3_masking_and_distancing.csv',
           index = False)

## change.org_topic_3_vaccination.csv

In [184]:
df_11 = pd.read_csv(r'change.org_topic\change.org_topic_3_vaccination.csv')
df_11.head()

,text,annotation_48,annotation_49,annotation_50,annotation_47
0,Postpone CBSE Board Exams,False,False,False,False
1,Pay rise for paramedics and nurses,False,False,False,False
2,Too Soon To Open Georgia!,False,False,False,False
3,Request to reconsider DPS Ruby Park school tui...,False,False,False,False
4,Covid-19 Aesthetics / Salon / Massage Industry...,False,False,False,False

In [185]:
print(df_11['annotation_47'].isnull().sum())
print(df_11['annotation_48'].isnull().sum())
print(df_11['annotation_49'].isnull().sum())
print(df_11['annotation_50'].isnull().sum())
print(df_11['text'].isnull().sum())

0
0
0
0
0

In [186]:
annotation_1= df_11['annotation_47']
annotation_2= df_11['annotation_48']
annotation_3= df_11['annotation_49']
annotation_4= df_11['annotation_50']

### Cohen_kappa average score of annotation 47

In [187]:
def cohen_avg_1():
    cohen_score_12 = cohen_kappa_score(annotation_1,annotation_2)
    cohen_score_13 = cohen_kappa_score(annotation_1,annotation_3)
    cohen_score_14 = cohen_kappa_score(annotation_1,annotation_4)
    cohen_score_average_1 = round((cohen_score_12 + cohen_score_13 + cohen_score_14)/3,3)
    #print("Average Cohen Kappa Score for annotation 47:",(cohen_score_average_1))
    return cohen_score_average_1

In [188]:
cohen_avg_1()

0.524

### Cohen_kappa average score of annotation 48

In [189]:
def cohen_avg_2():
    cohen_score_21 = cohen_kappa_score(annotation_2,annotation_1)
    cohen_score_23 = cohen_kappa_score(annotation_2,annotation_3)
    cohen_score_24 = cohen_kappa_score(annotation_2,annotation_4)
    cohen_score_average_2 = round((cohen_score_21 + cohen_score_23 + cohen_score_24)/3,3)
    #print("Average Cohen Kappa Score for annotation 48:",(cohen_score_average_2))
    return cohen_score_average_2

In [190]:
cohen_avg_2()

0.388

### Cohen_kappa average score of annotation 49

In [191]:
def cohen_avg_3():
    cohen_score_31 = cohen_kappa_score(annotation_3,annotation_1)
    cohen_score_32 = cohen_kappa_score(annotation_3,annotation_2)
    cohen_score_34 = cohen_kappa_score(annotation_3,annotation_4)
    cohen_score_average_3 = round((cohen_score_31 + cohen_score_32 + cohen_score_34)/3,3)
    #print("Average Cohen Kappa Score for annotation 49:",(cohen_score_average_3))
    return cohen_score_average_3

In [192]:
cohen_avg_3()

0.605

### Cohen_kappa average score of annotation 50

In [193]:
def cohen_avg_4():
    cohen_score_41 = cohen_kappa_score(annotation_4,annotation_1)
    cohen_score_42 = cohen_kappa_score(annotation_4,annotation_2)
    cohen_score_43 = cohen_kappa_score(annotation_4,annotation_3)
    cohen_score_average_4 = round((cohen_score_41 + cohen_score_42 + cohen_score_43)/3,3)
    #print("Average Cohen Kappa Score for annotation 50:",(cohen_score_average_4))
    return cohen_score_average_4

In [194]:
cohen_avg_4()

0.562

##### If average cohen kappa score for any annotation is less than 0.2, we will drop it

In [195]:
def drop_annotate():
    average = [cohen_avg_1(), cohen_avg_2(),cohen_avg_3(),cohen_avg_4()]
    columns_name = ['annotation_47','annotation_48','annotation_49','annotation_50']
    #columns =[annotation_1,annotation_2,annotation_3,annotation_4]
    for i in range(0,len(average)):
        if average[i]< 0.2:
            print(columns_name[i])
            print(average[i])
            df_11.drop(columns_name[i], axis=1, inplace = True)
    print(df_11.head())
    r = []
    for col in df_11.columns:
        r.append(col)
    print(r[1:])

In [196]:
drop_annotate()

                                                text  annotation_48  \
0                          Postpone CBSE Board Exams          False
1                 Pay rise for paramedics and nurses          False
2                          Too Soon To Open Georgia!          False
3  Request to reconsider DPS Ruby Park school tui...          False
4  Covid-19 Aesthetics / Salon / Massage Industry...          False

   annotation_49  annotation_50  annotation_47
0          False          False          False
1          False          False          False
2          False          False          False
3          False          False          False
4          False          False          False
['annotation_48', 'annotation_49', 'annotation_50', 'annotation_47']

In [197]:
def updateLabel(df_11):
    for index, rows in df_11.iterrows():
        match = [[cohen_avg_1(),rows['annotation_47']],
                   [cohen_avg_2(),rows['annotation_48']],
                   [cohen_avg_3(),rows['annotation_49']],
                    [cohen_avg_4(),rows['annotation_50']]]
        boolean = [rows['annotation_47'],rows['annotation_48'],rows['annotation_49'],rows['annotation_50']]
        match.sort(key = lambda k:k[0])
        true = match.count('True')
        false = match.count('False')
        if true == false: 
            kappa, columnV = match[-1]
            df_11.loc[index, 'Final Label'] = columnV
            
        elif true!=false:
            if true > false:
                df_11.loc[index, 'Final Label'] = True
            else:
                df_11.loc[index, 'Final Label'] = False

In [198]:
updateLabel(df_11)
df_11 = df_11.iloc[:,[0,-1]]
df_11.head()

                                                text Final Label
0                          Postpone CBSE Board Exams       False
1                 Pay rise for paramedics and nurses       False
2                          Too Soon To Open Georgia!       False
3  Request to reconsider DPS Ruby Park school tui...       False
4  Covid-19 Aesthetics / Salon / Massage Industry...       False

In [199]:
df_11.to_csv(r'C:\Users\stuar\Desktop\NLP Assignment 2\new_files\secondary\change.org_topic_3_vaccination.csv',
           index = False)

## change.org_topic_4_lockdowns.csv

In [200]:
df_12 = pd.read_csv(r'change.org_topic\change.org_topic_4_lockdowns.csv')
df_12.head()

,text,annotation_43,annotation_44,annotation_45,annotation_46
0,Save Western Ghats from annihilation,True,False,False,False
1,Save Beacon Hill Park,True,False,False,False
2,Government of India: Don't Tax Medical Bills,True,False,False,False
3,NO FAILING @ UCR,True,False,False,False
4,WIAA - Let them play football!,True,False,True,False

In [201]:
print(df_12['annotation_43'].isnull().sum())
print(df_12['annotation_44'].isnull().sum())
print(df_12['annotation_45'].isnull().sum())
print(df_12['annotation_46'].isnull().sum())
print(df_12['text'].isnull().sum())

0
0
0
0
0

In [202]:
annotation_1= df_12['annotation_43']
annotation_2= df_12['annotation_44']
annotation_3= df_12['annotation_45']
annotation_4= df_12['annotation_46']

### Cohen_kappa average score of annotation 43

In [203]:
def cohen_avg_1():
    cohen_score_12 = cohen_kappa_score(annotation_1,annotation_2)
    cohen_score_13 = cohen_kappa_score(annotation_1,annotation_3)
    cohen_score_14 = cohen_kappa_score(annotation_1,annotation_4)
    cohen_score_average_1 = round((cohen_score_12 + cohen_score_13 + cohen_score_14)/3,3)
    #print("Average Cohen Kappa Score for annotation 43:",(cohen_score_average_1))
    return cohen_score_average_1

In [204]:
cohen_avg_1()

0.095

### Cohen_kappa average score of annotation 44

In [205]:
def cohen_avg_2():
    cohen_score_21 = cohen_kappa_score(annotation_2,annotation_1)
    cohen_score_23 = cohen_kappa_score(annotation_2,annotation_3)
    cohen_score_24 = cohen_kappa_score(annotation_2,annotation_4)
    cohen_score_average_2 = round((cohen_score_21 + cohen_score_23 + cohen_score_24)/3,3)
    #print("Average Cohen Kappa Score for annotation 44:",(cohen_score_average_2))
    return cohen_score_average_2

In [206]:
cohen_avg_2()

0.36

### Cohen_kappa average score of annotation 45

In [207]:
def cohen_avg_3():
    cohen_score_31 = cohen_kappa_score(annotation_3,annotation_1)
    cohen_score_32 = cohen_kappa_score(annotation_3,annotation_2)
    cohen_score_34 = cohen_kappa_score(annotation_3,annotation_4)
    cohen_score_average_3 = round((cohen_score_31 + cohen_score_32 + cohen_score_34)/3,3)
    #print("Average Cohen Kappa Score for annotation 45:",(cohen_score_average_3))
    return cohen_score_average_3

In [208]:
cohen_avg_3()

0.38

### Cohen_kappa average score of annotation 46

In [209]:
def cohen_avg_4():
    cohen_score_41 = cohen_kappa_score(annotation_4,annotation_1)
    cohen_score_42 = cohen_kappa_score(annotation_4,annotation_2)
    cohen_score_43 = cohen_kappa_score(annotation_4,annotation_3)
    cohen_score_average_4 = round((cohen_score_41 + cohen_score_42 + cohen_score_43)/3,3)
    #print("Average Cohen Kappa Score for annotation 46:",(cohen_score_average_4))
    return cohen_score_average_4

In [210]:
cohen_avg_4()

0.386

##### If average cohen kappa score for any annotation is less than 0.2, we will drop it

In [211]:
def drop_annotate():
    average = [cohen_avg_1(), cohen_avg_2(),cohen_avg_3(),cohen_avg_4()]
    columns_name = ['annotation_43','annotation_44','annotation_45','annotation_46']
    for i in range(0,len(average)):
        if average[i]< 0.2:
            print(columns_name[i])
            print(average[i])
            df_12.drop(columns_name[i], axis=1, inplace = True)
    #print(df_12.head())
    r = []
    for col in df_12.columns:
        r.append(col)
    print(r[1:])

In [212]:
drop_annotate()

annotation_43
0.095
['annotation_44', 'annotation_45', 'annotation_46']

In [213]:
def updateLabel(df_12):
    for index, rows in df_12.iterrows():
        match = [[cohen_avg_1(),rows['annotation_44']],
                   [cohen_avg_2(),rows['annotation_45']],
                   [cohen_avg_3(),rows['annotation_46']]]
        boolean = [rows['annotation_44'],rows['annotation_45'],rows['annotation_46']]
        match.sort(key = lambda k:k[0])
        true = match.count('True')
        false = match.count('False')
        if true == false: 
            kappa, columnV = match[-1]
            df_12.loc[index, 'Final Label'] = columnV
            
        elif true!=false:
            if true > false:
                df_12.loc[index, 'Final Label'] = True
            else:
                df_12.loc[index, 'Final Label'] = False

In [214]:
updateLabel(df_12)
df_12 = df_12.iloc[:,[0,-1]]
df_12.head()

                                           text Final Label
0          Save Western Ghats from annihilation       False
1                         Save Beacon Hill Park       False
2  Government of India: Don't Tax Medical Bills       False
3                              NO FAILING @ UCR       False
4                WIAA - Let them play football!       False

In [215]:
df_12.to_csv(r'C:\Users\stuar\Desktop\NLP Assignment 2\new_files\secondary\change.org_topic_4_lockdowns.csv',
           index = False)

## change.org_topic_4_masking_and_distancing.csv

In [216]:
df_13 = pd.read_csv(r'change.org_topic\change.org_topic_4_masking_and_distancing.csv')
df_13.head()

,text,annotation_43,annotation_44,annotation_45,annotation_46
0,Save Western Ghats from annihilation,False,False,False,False
1,Save Beacon Hill Park,False,False,False,False
2,Government of India: Don't Tax Medical Bills,False,False,False,False
3,NO FAILING @ UCR,False,False,False,False
4,WIAA - Let them play football!,False,True,False,False

In [217]:
print(df_13['annotation_43'].isnull().sum())
print(df_13['annotation_44'].isnull().sum())
print(df_13['annotation_45'].isnull().sum())
print(df_13['annotation_46'].isnull().sum())
print(df_13['text'].isnull().sum())

0
0
0
0
0

### Cohen_kappa average score of annotation 43

In [218]:
def cohen_avg_1():
    cohen_score_12 = cohen_kappa_score(annotation_1,annotation_2)
    cohen_score_13 = cohen_kappa_score(annotation_1,annotation_3)
    cohen_score_14 = cohen_kappa_score(annotation_1,annotation_4)
    cohen_score_average_1 = round((cohen_score_12 + cohen_score_13 + cohen_score_14)/3,3)
    #print("Average Cohen Kappa Score for annotation 43:",(cohen_score_average_1))
    return cohen_score_average_1

In [219]:
cohen_avg_1()

0.095

### Cohen_kappa average score of annotation 44

In [220]:
def cohen_avg_2():
    cohen_score_21 = cohen_kappa_score(annotation_2,annotation_1)
    cohen_score_23 = cohen_kappa_score(annotation_2,annotation_3)
    cohen_score_24 = cohen_kappa_score(annotation_2,annotation_4)
    cohen_score_average_2 = round((cohen_score_21 + cohen_score_23 + cohen_score_24)/3,3)
    #print("Average Cohen Kappa Score for annotation 44:",(cohen_score_average_2))
    return cohen_score_average_2

In [221]:
cohen_avg_2()

0.36

### Cohen_kappa average score of annotation 45

In [222]:
def cohen_avg_3():
    cohen_score_31 = cohen_kappa_score(annotation_3,annotation_1)
    cohen_score_32 = cohen_kappa_score(annotation_3,annotation_2)
    cohen_score_34 = cohen_kappa_score(annotation_3,annotation_4)
    cohen_score_average_3 = round((cohen_score_31 + cohen_score_32 + cohen_score_34)/3,3)
    #print("Average Cohen Kappa Score for annotation 45:",(cohen_score_average_3))
    return cohen_score_average_3

In [223]:
cohen_avg_3()

0.38

### Cohen_kappa average score of annotation 46

In [224]:
def cohen_avg_4():
    cohen_score_41 = cohen_kappa_score(annotation_4,annotation_1)
    cohen_score_42 = cohen_kappa_score(annotation_4,annotation_2)
    cohen_score_43 = cohen_kappa_score(annotation_4,annotation_3)
    cohen_score_average_4 = round((cohen_score_41 + cohen_score_42 + cohen_score_43)/3,3)
    #print("Average Cohen Kappa Score for annotation 46:",(cohen_score_average_4))
    return cohen_score_average_4

In [225]:
cohen_avg_4()

0.386

##### If average cohen kappa score for any annotation is less than 0.2, we will drop it

In [226]:
def drop_annotate():
    average = [cohen_avg_1(), cohen_avg_2(),cohen_avg_3(),cohen_avg_4()]
    columns_name = ['annotation_43','annotation_44','annotation_45','annotation_46']
    for i in range(0,len(average)):
        if average[i]< 0.2:
            print(columns_name[i])
            print(average[i])
            df_13.drop(columns_name[i], axis=1, inplace = True)
    print(df_13.head())
    r = []
    for col in df_13.columns:
        r.append(col)
    print(r[1:])

In [227]:
drop_annotate()

annotation_43
0.095
                                           text  annotation_44  annotation_45  \
0          Save Western Ghats from annihilation          False          False
1                         Save Beacon Hill Park          False          False
2  Government of India: Don't Tax Medical Bills          False          False
3                              NO FAILING @ UCR          False          False
4                WIAA - Let them play football!           True          False

   annotation_46
0          False
1          False
2          False
3          False
4          False
['annotation_44', 'annotation_45', 'annotation_46']

In [228]:
def updateLabel(df_13):
    for index, rows in df_13.iterrows():
        match = [[cohen_avg_1(),rows['annotation_44']],
                   [cohen_avg_2(),rows['annotation_45']],
                   [cohen_avg_3(),rows['annotation_46']]]
        boolean = [rows['annotation_44'],rows['annotation_45'],rows['annotation_46']]
        match.sort(key = lambda k:k[0])
        true = match.count('True')
        false = match.count('False')
        if true == false: 
            kappa, columnV = match[-1]
            df_13.loc[index, 'Final Label'] = columnV
            
        elif true!=false:
            if true > false:
                df_13.loc[index, 'Final Label'] = True
            else:
                df_13.loc[index, 'Final Label'] = False

In [229]:
updateLabel(df_13)
df_13 = df_13.iloc[:,[0,-1]]
df_13.head()

                                           text Final Label
0          Save Western Ghats from annihilation       False
1                         Save Beacon Hill Park       False
2  Government of India: Don't Tax Medical Bills       False
3                              NO FAILING @ UCR       False
4                WIAA - Let them play football!       False

In [230]:
df_13.to_csv(r'C:\Users\stuar\Desktop\NLP Assignment 2\new_files\secondary\change.org_topic_4_masking_and_distancing.csv',
           index = False)

## change.org_topic_4_vaccination.csv

In [231]:
df_14 = pd.read_csv(r'change.org_topic\change.org_topic_4_vaccination.csv')
df_14.head()

,text,annotation_43,annotation_44,annotation_45,annotation_46
0,Save Western Ghats from annihilation,False,False,False,False
1,Save Beacon Hill Park,False,False,False,False
2,Government of India: Don't Tax Medical Bills,False,False,False,False
3,NO FAILING @ UCR,False,False,False,False
4,WIAA - Let them play football!,False,False,False,False

In [232]:
print(df_14['annotation_43'].isnull().sum())
print(df_14['annotation_44'].isnull().sum())
print(df_14['annotation_45'].isnull().sum())
print(df_14['annotation_46'].isnull().sum())
print(df_14['text'].isnull().sum())

0
0
0
0
0

### Cohen_kappa average score of annotation 43

In [233]:
def cohen_avg_1():
    cohen_score_12 = cohen_kappa_score(annotation_1,annotation_2)
    cohen_score_13 = cohen_kappa_score(annotation_1,annotation_3)
    cohen_score_14 = cohen_kappa_score(annotation_1,annotation_4)
    cohen_score_average_1 = round((cohen_score_12 + cohen_score_13 + cohen_score_14)/3,3)
    #print("Average Cohen Kappa Score for annotation 43:",(cohen_score_average_1))
    return cohen_score_average_1

In [234]:
cohen_avg_1()

0.095

### Cohen_kappa average score of annotation 44

In [235]:
def cohen_avg_2():
    cohen_score_21 = cohen_kappa_score(annotation_2,annotation_1)
    cohen_score_23 = cohen_kappa_score(annotation_2,annotation_3)
    cohen_score_24 = cohen_kappa_score(annotation_2,annotation_4)
    cohen_score_average_2 = round((cohen_score_21 + cohen_score_23 + cohen_score_24)/3,3)
    #print("Average Cohen Kappa Score for annotation 44:",(cohen_score_average_2))
    return cohen_score_average_2

In [236]:
cohen_avg_2()

0.36

### Cohen_kappa average score of annotation 45

In [237]:
def cohen_avg_3():
    cohen_score_31 = cohen_kappa_score(annotation_3,annotation_1)
    cohen_score_32 = cohen_kappa_score(annotation_3,annotation_2)
    cohen_score_34 = cohen_kappa_score(annotation_3,annotation_4)
    cohen_score_average_3 = round((cohen_score_31 + cohen_score_32 + cohen_score_34)/3,3)
    #print("Average Cohen Kappa Score for annotation 45:",(cohen_score_average_3))
    return cohen_score_average_3

In [238]:
cohen_avg_3()

0.38

### Cohen_kappa average score of annotation 46

In [239]:
def cohen_avg_4():
    cohen_score_41 = cohen_kappa_score(annotation_4,annotation_1)
    cohen_score_42 = cohen_kappa_score(annotation_4,annotation_2)
    cohen_score_43 = cohen_kappa_score(annotation_4,annotation_3)
    cohen_score_average_4 = round((cohen_score_41 + cohen_score_42 + cohen_score_43)/3,3)
    #print("Average Cohen Kappa Score for annotation 46:",(cohen_score_average_4))
    return cohen_score_average_4

In [240]:
cohen_avg_4()

0.386

##### If average cohen kappa score for any annotation is less than 0.2, we will drop it

In [241]:
def drop_annotate():
    average = [cohen_avg_1(), cohen_avg_2(),cohen_avg_3(),cohen_avg_4()]
    columns_name = ['annotation_43','annotation_44','annotation_45','annotation_46']
    for i in range(0,len(average)):
        if average[i]< 0.2:
            print(columns_name[i])
            print(average[i])
            df_14.drop(columns_name[i], axis=1, inplace = True)
    print(df_14.head())
    r = []
    for col in df_14.columns:
        r.append(col)
    print(r[1:])

In [242]:
drop_annotate()

annotation_43
0.095
                                           text  annotation_44  annotation_45  \
0          Save Western Ghats from annihilation          False          False
1                         Save Beacon Hill Park          False          False
2  Government of India: Don't Tax Medical Bills          False          False
3                              NO FAILING @ UCR          False          False
4                WIAA - Let them play football!          False          False

   annotation_46
0          False
1          False
2          False
3          False
4          False
['annotation_44', 'annotation_45', 'annotation_46']

In [243]:
def updateLabel(df_14):
    for index, rows in df_14.iterrows():
        match = [[cohen_avg_1(),rows['annotation_44']],
                   [cohen_avg_2(),rows['annotation_45']],
                   [cohen_avg_3(),rows['annotation_46']]]
        boolean = [rows['annotation_44'],rows['annotation_45'],rows['annotation_46']]
        match.sort(key = lambda k:k[0])
        true = match.count('True')
        false = match.count('False')
        if true == false: 
            kappa, columnV = match[-1]
            df_14.loc[index, 'Final Label'] = columnV
            
        elif true!=false:
            if true > false:
                df_14.loc[index, 'Final Label'] = True
            else:
                df_14.loc[index, 'Final Label'] = False

In [244]:
updateLabel(df_14)
df_14 = df_14.iloc[:,[0,-1]]
df_14.head()

                                           text Final Label
0          Save Western Ghats from annihilation       False
1                         Save Beacon Hill Park       False
2  Government of India: Don't Tax Medical Bills       False
3                              NO FAILING @ UCR       False
4                WIAA - Let them play football!       False

In [245]:
df_14.to_csv(r'C:\Users\stuar\Desktop\NLP Assignment 2\new_files\secondary\change.org_topic_4_vaccination.csv',
           index = False)

## Merging change.org_topic_lockdowns

In [246]:
df = pd.read_csv(r'C:\Users\stuar\Desktop\NLP Assignment 2\new_files\secondary\change.org_topic_0_lockdowns.csv', sep=',', header=None,index_col = False)
df1 = pd.read_csv(r'C:\Users\stuar\Desktop\NLP Assignment 2\new_files\secondary\change.org_topic_1_lockdowns.csv', sep=',', header=None,index_col = False)
df2 = pd.read_csv(r'C:\Users\stuar\Desktop\NLP Assignment 2\new_files\secondary\change.org_topic_2_lockdowns.csv', sep=',', header=None,index_col = False)
df3 = pd.read_csv(r'C:\Users\stuar\Desktop\NLP Assignment 2\new_files\secondary\change.org_topic_3_lockdowns.csv', sep=',', header=None,index_col = False)
df4 = pd.read_csv(r'C:\Users\stuar\Desktop\NLP Assignment 2\new_files\secondary\change.org_topic_4_lockdowns.csv', sep=',', header=None,index_col = False)

In [247]:
df.reset_index(drop=True)
df1.reset_index( drop=True)
df2.reset_index(drop=True)
df3.reset_index(drop=True)
df4.reset_index(drop=True)
df_combined = pd.concat([df,df1,df2,df3,df4], axis=0)

In [248]:
df_combined.to_csv(r'C:\Users\stuar\Desktop\NLP Assignment 2\new_files\secondary_final\change.org_topic_lockdowns.csv',index= False,header = False)

## Merging change.org_topic_masking_and_distancing

In [249]:
df = pd.read_csv(r'C:\Users\stuar\Desktop\NLP Assignment 2\new_files\secondary\change.org_topic_0_masking_and_distancing.csv', sep=',', header=None,index_col = False)
df1 = pd.read_csv(r'C:\Users\stuar\Desktop\NLP Assignment 2\new_files\secondary\change.org_topic_1_masking_and_distancing.csv', sep=',', header=None,index_col = False)
df2 = pd.read_csv(r'C:\Users\stuar\Desktop\NLP Assignment 2\new_files\secondary\change.org_topic_2_masking_and_distancing.csv', sep=',', header=None,index_col = False)
df3 = pd.read_csv(r'C:\Users\stuar\Desktop\NLP Assignment 2\new_files\secondary\change.org_topic_3_masking_and_distancing.csv', sep=',', header=None,index_col = False)
df4 = pd.read_csv(r'C:\Users\stuar\Desktop\NLP Assignment 2\new_files\secondary\change.org_topic_4_masking_and_distancing.csv', sep=',', header=None,index_col = False)

In [250]:
df.reset_index(drop=True)
df1.reset_index( drop=True)
df2.reset_index(drop=True)
df3.reset_index(drop=True)
df4.reset_index(drop=True)
df_combined = pd.concat([df,df1,df2,df3,df4], axis=0)

In [251]:
df_combined.to_csv(r'C:\Users\stuar\Desktop\NLP Assignment 2\new_files\secondary_final\change.org_topic_masking_and_distancing.csv',index= False,header = False)

## Merging change.org_topic_vaccination

In [252]:
df = pd.read_csv(r'C:\Users\stuar\Desktop\NLP Assignment 2\new_files\secondary\change.org_topic_0_masking_and_distancing.csv', sep=',', header=None,index_col = False)
df1 = pd.read_csv(r'C:\Users\stuar\Desktop\NLP Assignment 2\new_files\secondary\change.org_topic_1_masking_and_distancing.csv', sep=',', header=None,index_col = False)
df2 = pd.read_csv(r'C:\Users\stuar\Desktop\NLP Assignment 2\new_files\secondary\change.org_topic_2_masking_and_distancing.csv', sep=',', header=None,index_col = False)
df3 = pd.read_csv(r'C:\Users\stuar\Desktop\NLP Assignment 2\new_files\secondary\change.org_topic_3_masking_and_distancing.csv', sep=',', header=None,index_col = False)
df4 = pd.read_csv(r'C:\Users\stuar\Desktop\NLP Assignment 2\new_files\secondary\change.org_topic_4_masking_and_distancing.csv', sep=',', header=None,index_col = False)

In [253]:
df.reset_index(drop=True)
df1.reset_index( drop=True)
df2.reset_index(drop=True)
df3.reset_index(drop=True)
df4.reset_index(drop=True)
df_combined = pd.concat([df,df1,df2,df3,df4], axis=0)

In [254]:
df_combined.to_csv(r'C:\Users\stuar\Desktop\NLP Assignment 2\new_files\secondary_final\change.org_topic_vaccination.csv',index= False,header = False)